@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #622605;
}

@layer components {
  .btn {
    @apply border font-semibold bg-orange-900;
  }

  .btn-red {
    @apply py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-semibold text-white focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all text-sm;
  }

  .btn-primary {
    @apply bg-primary px-4 py-2 uppercase font-semibold;
  }

  .btn-secondary {
    @apply bg-sixth px-4 py-[11px] font-semibold tracking-wider text-secondary uppercase text-[16px] rounded-tr-[3px] rounded-tl-[3px];
  }

  .animate-expanded {
    @apply absolute w-0 left-1/2 -translate-x-1/2 h-full opacity-0 bg-black transition-all group-hover:w-full group-hover:opacity-35 group-hover:duration-500;
  }

  .news-name {
    @apply text-[14px] leading-[18px] text-white capitalize font-normal hover:text-primary;
  }

  .left-news-title {
    @apply text-[16px] font-semibold uppercase border-b-2 border-third pb-1 text-secondary;
  }
}


@keyframes horizontalWave {
  from {
    left: -8px;
  }

  to {
    left: 0;
  }
}