@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 25px !important;
}

/* scroll thumb */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #000101;
}

::-webkit-scrollbar-thumb {
  background:  #7e7a79;
  border-radius: 5px;
}





