@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 300;
  font-size: 16px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 100px;
}

.parallax span {
  display: block;
  margin-right: 30px;
}


::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}


/* social button */

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(82, 79, 79);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 32px;
  height: 32px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .5s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .5s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .5s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .5s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: blue;
  transition-duration: .5s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .5s;
}

.socialSvg {
  width: 24px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


